body
{
    font: bold 24px arial, verdana;
}

h3 {
    font: bold 48px times;
}


input[type=number] 
{
    display: block;
    width: 200px;
    text-align: right;
    margin-right: 20px;
    margin-bottom: 20px;
}
